.about-container {
    margin-top: 80px;
}

.about-container h1 {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 3rem;
    color: #2B2B2B;
    letter-spacing: 0.4px;
    margin-bottom: 1rem;
    transition: all 0.8s ease;
    opacity: 0;
    transform: translate(0, 120%);
}

.about-container h1.s-active {
    opacity: 1;
    transform: translate(0, 0);
}

.general-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding: 0 1rem;
    padding-bottom: 2.5rem;
}


.general-text p {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 30px;
    line-height: 1.6;
    letter-spacing: 0.2px;
    text-align: center;
    transition: all 0.8s ease 0.4s;
    opacity: 0;
    transform: translate(0, 110%);
}

.general-text p.s-active {
    opacity: 1;
    transform: translate(0, 0);
}

.about-img-div {
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.8s ease 0.8s;
}

.about-img-div:nth-child(1) {
    transform: translate(-100%, 0px);
}

.about-img-div:nth-child(2) {
    transform: translate(0, 25%);
}

.about-img-div:nth-child(3) {
    transform: translate(100%, 0px);
}

.about-img-div.s-active {
    transform: translate(0, 0);
    opacity: 1;
}

.about-img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.about-img-div img:hover {
    transform: scale(1.05);
  }

.specializations {
    padding: 2.5rem;
    background: url('/white-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
}

.specializations h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 1rem;
    color: #2b2b2b;
    opacity: 0;
    transform: translate(0, 120%);
    transition: all 0.8s ease ;
}

.specializations h2.s-active {
    opacity: 1;
    transform: translate(0, 0);
}

.about-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    opacity: 0;
    transition: all 1.2s ease 0.1s;
}

 .about-info:nth-child(1), .about-info:nth-child(3), .about-info:nth-child(5) {
    transform: translate(-110%, 0);
}

.about-info:nth-child(2), .about-info:nth-child(4), .about-info:nth-child(6) {
    transform: translate(110%, 0);
}

.about-info.s-active {
    opacity: 1;
    transform: translate(0, 0);
}

#one .info-text {
 flex: 2;
}

#three .info-text,
#five .info-text {
    flex: 1.8;
   }

   .important {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    opacity: 0;
    transition: all 0.8s ease 0.1s;
   }

.important.s-active {
    opacity: 1;
    transform: translate(0, 0);
}

   .important h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 1rem;
    color: #2b2b2b;
   }

   .important p {
    font-size: 1.6rem;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    text-align: center;
   }

   .important p a {
      font-weight: 600;
      transition: all 0.3s;
   }

   .important p a:hover {
    color: #2b2b2b;
    text-decoration: underline;
   }

   .important .code {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }

   .code a {
    color: #000;
    font-size: 2rem;
   }

   .code a:hover {
    transform: scale(1.05);
    text-shadow:  0 0 3px #fff;
   }

   @media (max-width: 768px) {
    .about-container h1 {
        font-size: 2.5rem;
    }

    .general-text p {
        font-size: 1.2rem;
    }

    .specializations h2 {
        font-size: 2.5rem;
    }

    .important h2 {
        font-size: 2rem;
    }

    .important p {
        font-size: 1.2rem;
        line-height: 1.4;
    }
    .important .code {
        font-size: 1.3rem;
        gap: 10px;
        margin-bottom: 0;
    }

    .general-text {
        padding: 0 1.5rem;
    }
    
    .specializations {
        padding: 1rem 1.2rem;
    }

    .info-text h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color: #2d3748;
    }

    .about-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-info:nth-child(2),
    .about-info:nth-child(4), .about-info:nth-child(6) {
        flex-direction: column-reverse;
    }


    .important {
        padding: 1.5rem 2rem;
    }
   }

