.home {
    background:  url('/dark_background_for_fashion_page_1.jpg') no-repeat center center/cover;;
    width: 100%;
    height: 100vh;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.home-text {
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
    z-index: 1;
}

.home-text h1 {
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.home-text p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.5;
    letter-spacing: 0.2px;
}

.home-text button {
    margin-top: 1.5rem;
    padding: 0.9rem 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: white;
    background-color: #D4AF37;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-text button:hover {
    background-color: #bb9b33;
}

.fashion-inspo {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2.5rem ;
  background: #f8f9fa;
  z-index: 2;
  position: relative;
  text-align: center;
}

.inspo-con {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin:  0 auto;
}

.inspo-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fashion-inspo h2 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 2rem;
  color: #2b2b2b;
}

.inspo-text p {
  font-size: 1.5rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
  letter-spacing: 0.2px;
  width: 90%;
  text-align: center;
}

.inspo-text button {
  background: #e0b973;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.inspo-text button:hover {
  background: #d1a862;
}

.inspo-images {
     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    gap: 2rem;
}

.img-div {
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.img-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.img-div img:hover {
  transform: scale(1.05);
}

.some-info {
    padding: 2.5rem;
    background: url('/projects-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
}

.some-info h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 2rem;
    color: #2b2b2b;
}

.info-con {
    padding: 2rem 1.5rem;
   /* background-color: #f7fafc;*/ 
   display: flex;
   flex-direction: column;
    justify-content: center;
    gap: 6rem;
    flex-wrap: wrap;
  }
  
  .info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    
  }
  
  .info-text {
    flex: 1;
  }
  
  .info-text h3 {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    color: #2d3748;
  }
  
  .info-text p {
    line-height: 1.6;
    color: #4a5568;
    margin-bottom: 1.5rem;
  }
  
  .info-img {
    flex: 1;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  
  .info-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform: scale(1.03);
  }
  
  .info-img:hover img {
    transform: scale(1.06);
  }
  
  .featured {
    width: 100%;
    padding: 3.5rem 2.5rem;
    z-index: 1;
    background-color: #f8f9fa;
     padding-bottom: 80px;
  }

  .featured h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #2b2b2b;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .item {
    box-shadow: 0px 0px 20px 3px #0000002e;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
  }

  .item:hover {
    transform: scale(1.02);
    box-shadow: 0px 8px 12px 7px #0000002e;
  }

  .item .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    gap: 10px;
    margin-bottom: 3px;
  }

  .item img {
    width: 100%;
    height: 75%;
  }

  .item .title {
    font-size: 1.5rem;
    letter-spacing: 0.4px;
  }

  .item .price {
    font-size: 1.3rem;
    color: #2d3748;
  }

  .item button {
    background-color: #000000;
    color: #fff;
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 6px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.3s;
    border: 2px solid #000;
    cursor: pointer;
    width: 60%;
    margin-bottom: 5px;
  }

  .item button:hover {
    transform: scale(1.03);
    text-shadow:  0 0 3px #fff;
  }

  .item button:active {
     transform: scale(1);
     text-shadow: none;
  }

  footer {
    background-color: #1a1a1a;
    color: #e6e6e6;
    padding: 60px 0 30px;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
  }

  
  .footer-section h4 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
  }

  .footer-section:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-section p {
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1rem;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 30px;
  }
  
  .footer-section a {
    color: #e6e6e6;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #c0a58e;
  }
  
  .social-icons {
    display: flex;
    gap: 25px;
    margin-top: 20px;
  }

  .social-icons a {
    overflow: hidden;
    border-radius: 50%;
  }

  .social-icons a:nth-child(1) {
    border-radius: 1px;
  }
  
  .fa-brands {
    font-size: 2rem;
    transition: all 0.3s;
    transform: scale(1.1);
  }

  .fa-instagram {
    transform: scale(1);
  }
  
  .fa-facebook:hover {
    color: #0862F7;
    background-color: #fff;
  }

  .fa-pinterest:hover {
    color: #DF0022;
    background-color: #fff;
  }

  .fa-instagram:hover {
    color: #F60673;
  }
  
  .footer-bottom {
    border-top: 1px solid #333;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-size: 0.85rem;
  }
  
  .legal-links {
    margin-top: 10px;
  }
  
  .legal-links a {
    color: #e6e6e6;
    margin: 0 10px;
  }
  
@media (max-width: 768px) {
    .home-text h1 {
        font-size: 2.5rem;
    }

    .home-text p {
        font-size: 1rem;
    }

    .home-text button {
        font-size: 1rem;
    }

    .fashion-inspo {
        padding: 2rem;
    }

    .fashion-inspo h2 {
        font-size: 2.5rem;
    }

    .inspo-text p {
        font-size: 1.2rem;
    }

    .some-info {
      padding: 2rem 1rem;
    }

    .some-info h2 {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .info-con {
        flex-direction: column;
        gap: 2rem;
        padding: 0;
    }

    .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info-text p{
      margin-bottom: 0;
    }

    .info:nth-child(2) {
        flex-direction: column-reverse;
    }

    .info-img {
        width: 100%;
        height: auto;
    }

    .featured h2 {
        font-size: 2.5rem;
    }
  
    .footer-container {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 30px;
      padding: 0 20px;
  }

  .footer-section:nth-child(2) {
    align-items: normal;
}
}