* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@font-face {
  font-family: Playfair;
  src: url("../assets/PlayfairDisplay-SemiBold.ttf");
}

 @font-face {
  font-family: Inter;
  src: url('src/assets/Inter_18pt-Regular.ttf');
 }

body {
  font-family: Inter, sans-serif; 
  font-size: 18px;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
}

.header-container {
  display: flex ;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 0 1rem;
}

.header-container ul {
  display: flex;
  gap: 30px;
}

.header-container ul a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #717171;
  transition: color 0.3s ease;
  font-weight: 600;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.header-container ul a:hover {
  color: #000;
}

.header-container ul a.active { 
  color: #D4AF37;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: Playfair, sans-serif;
  gap: 10px;
  font-size: 1.4rem;
}

.logo img {
  width: 70px;
  height: 60px;
  cursor: pointer;
}

.logo h2 {
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.4px;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cart-con {
  display: flex;
  align-items: center;
  transition: all 0.3s;
  width: fit-content;
}



.cart img {
  cursor: pointer;
  transition: all 0.3s;
  width: 45px;
  height: 45px;
}

.cart-con:hover {
  transform: scale(1.1) rotate(-8deg);
}

.cart-con:active {
  transition: all 0.1s;
  transform: scale(1) rotate(0deg);
}

.equal {
  width: 150px;
}

.quantity {
  background-color: #950303;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translate(-50%, -50%);
  padding: 2px 6px;
  font-size: 15px;
  transition: all 0.3s;
}

  